/*CAROUSEL / MAIN */
$c-color: rgb(201, 201, 201);
.main__carousel{
    img{
        height: 55vh;
        border-radius: 5%;
    }
    
    h4{
        color: $c-color;
        background-color: black;
        border-radius: 50px;
    }
    p{
        color: $c-color;
        background-color: green;
    }
    h1 strong{
        display: flex;
        justify-content: center;
        color: white;
        font: {
            size: 2rem;
            family: cursive;
        }
        padding: 20px;
        margin: 20px;
        
    }
}

/*MAIN / INGRESO / SESION*/
.fondo__body--ingreso{
    background-image: url(https://1.bp.blogspot.com/-c8WITrdOwzY/X7fr180mAVI/AAAAAAAB9M0/eYGNhZMAPyMD7bu3KuGbJZmeZ6JgdRZ8ACLcBGAsYHQ/s1000/Tower%2BHill%2BScenes%2Bfor%2BZoom%2BBackgrounds%2B1000px.jpg);
}
.ingreso{
    width: 100%;
    text-align: center;
    margin: 35px 0;
    h1{
        background-color: rgba(0, 255, 0, 0.13);
        font-family: cursive;
        color: white;
        font-size: 4rem;
        padding: 30px 0 ;
        border-radius: 50%;
    }
    img{
        width: 100px;
        height: 100px;
        margin: 30px 0;
    }
    form{
        width: 50%;
    
    
    .check-box{
        color: white;
        display: flex;
        padding: 10px;
        line-height: 65%;
        
    }
    a{
        color: rgb(196, 196, 196);
        text-decoration: none;

    }
    }
}
@media(max-width:500px){
    .ingreso{
        width: 100%;
        height: 50vh;
        form{
            width: 100%;
            
        }
    }
}