#section2{
    div{
        background-color: rgb(240, 240, 240);
    }
    
    h1{
        color: white;
        font-family: cursive;
        text-align: center;
        padding: 20px 0 ;
    }
    img{
        height: 300px;
    }
    h5{
        text-align: center;
    }
    a{
        padding: 10px;
    }
}