/*SECTION / INDEX / CATALOGO*/
.section__catalogo{
        display: flex;
        justify-content: center;
        padding: 20px;
    div{
        width: 33.3;
    }
    img{
        width: 100%;
        height: 200px;
        border-style: solid;
        border-color: rgb(1, 27, 1);
        
    }

    h4{
        color:white;
        font-family: cursive;
        text-align: center;
        padding: 8px;
    }
}
@media(max-width: 780px){
    .section__catalogo{
        display: inline-block;
        width: 100%;
        div{
            width: 100%;
        }
        img{
            width: 100%;
            height: 200px;
            border-style: solid;
            border-color: rgb(1, 27, 1);
            
        }
    }
}
/*FORMULARIO / CONTACTO / SECTION*/
.formulario{
    color: rgb(231, 231, 231);
    
    .button-contacto, h3{
        text-align: center;
        font: {
            family: cursive;
            size: 3rem;
        }
        margin: 10px;
    }
}

/*PRODUCTOS / TIENDA / SECTION*/

.productos{
    display: flex;
    margin: 3rem 0;
    div{
    width: 25%;
    height: 50vh;
    padding: 20px;
    margin: 10px 0;
    :hover{
    transform: scale(105%);
    transition-duration: 0.7s;
    }
    }
    a, h4, h6{
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 5px 0;
    }
    img{
    width: 100%;
    height: 100%;
    padding: 20px 0;
    }
    
}
@media (max-width: 780px){
    .productos{
    display: inline-block;
    width: 100%;
    div{
    width: 100%;
    height: 50vh;
    margin: 3rem 0;
    :hover{
    transform: none;
    transition-duration: none;
    }
    }
    a, h4, h6{
    text-decoration: none;
    color: white;
    }
    img{
    width: 100%;
    height: 100%;
    }
    }
    
}
/*PAGINA DE NAVEGACION*/
.page__navegation{
    display: flex;
    justify-content: center;
    padding: 50px 0;
    
}

/*SECTION / FACTURACION / COMPRAS*/

.facturacion{
    display: flex;
    background-color: whitesmoke;
    padding: 30px 2px;
    img{
        width: 35px;
    }
    ul{
        list-style: none;
    }
    a{
        color: black;
    }
    .regreso{
        color: white;
        text-decoration: none;
    }
}
@media(max-width:700px){
    .facturacion{
        display: inline-block;
        width: 100%;
    .inicio__sesion{
        display: none;
    }
    .columna__compras{
        margin: 0 20px;
    }
    }
}