/*TRABAJA CON NOSOTROS / SECTION 2*/
#section2{
    div{
        background-color: rgb(240, 240, 240);
    }
    
    h1{
        color: white;
        font-family: cursive;
        text-align: center;
        padding: 20px 0 ;
    }
    img{
        height: 300px;
    }
    h5{
        text-align: center;
    }
    a{
        padding: 10px;
    }
}

/*SECTION / SOBRE NOSOTROS / ASIDE*/
.sobre__nosotros{
    color: white;
    font-family: cursive;
    text-align: center;
    margin: 20px;
}
aside{
    display: flex;
    color:white;
    margin: 35px 0;
    h3{
        color:rgb(174, 255, 174);
    }
    .maps{
        width: 100%;
        height: 100%;
    }
    .contacto, div{
        width: 100%;
        background-color: rgb(32, 32, 32);
    }
}