* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgba(0, 128, 128, 0.925);
}

.logo {
  width: 190px;
  height: 45px;
  margin: 0 15px;
  border-style: solid;
  border-radius: 50px;
  border-color: #494949;
}

.main__carousel img {
  height: 55vh;
  border-radius: 5%;
}

.main__carousel h4 {
  color: #c9c9c9;
  background-color: black;
  border-radius: 50px;
}

.main__carousel p {
  color: #c9c9c9;
  background-color: green;
}

.main__carousel h1 strong {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-size: 2rem;
  font-family: cursive;
  padding: 20px;
  margin: 20px;
}

/*SECTION / INDEX / CATALOGO*/
.section__catalogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}

.section__catalogo div {
  width: 33.3;
}

.section__catalogo img {
  width: 100%;
  height: 200px;
  border-style: solid;
  border-color: #011b01;
}

.section__catalogo h4 {
  color: white;
  font-family: cursive;
  text-align: center;
  padding: 8px;
}

@media (max-width: 780px) {
  .section__catalogo {
    display: inline-block;
    width: 100%;
  }
  .section__catalogo div {
    width: 100%;
  }
  .section__catalogo img {
    width: 100%;
    height: 200px;
    border-style: solid;
    border-color: #011b01;
  }
}

/*FORMULARIO / CONTACTO / SECTION*/
.formulario {
  color: #e7e7e7;
}

.formulario .button-contacto, .formulario h3 {
  text-align: center;
  font-family: cursive;
  font-size: 3rem;
  margin: 10px;
}

/*PRODUCTOS / TIENDA / SECTION*/
.productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3rem 0;
}

.productos div {
  width: 25%;
  height: 50vh;
  padding: 20px;
  margin: 10px 0;
}

.productos div :hover {
  -webkit-transform: scale(105%);
          transform: scale(105%);
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.productos a, .productos h4, .productos h6 {
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 5px 0;
}

.productos img {
  width: 100%;
  height: 100%;
  padding: 20px 0;
}

@media (max-width: 780px) {
  .productos {
    display: inline-block;
    width: 100%;
  }
  .productos div {
    width: 100%;
    height: 50vh;
    margin: 3rem 0;
  }
  .productos div :hover {
    -webkit-transform: none;
            transform: none;
    -webkit-transition-duration: none;
            transition-duration: none;
  }
  .productos a, .productos h4, .productos h6 {
    text-decoration: none;
    color: white;
  }
  .productos img {
    width: 100%;
    height: 100%;
  }
}

/*PAGINA DE NAVEGACION*/
.page__navegation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 0;
}

/*TRABAJA CON NOSOTROS / SECTION 2*/
#section2 div {
  background-color: #f0f0f0;
}

#section2 h1 {
  color: white;
  font-family: cursive;
  text-align: center;
  padding: 20px 0;
}

#section2 img {
  height: 300px;
}

#section2 h5 {
  text-align: center;
}

#section2 h5 :hover {
  color: #ac2a2a;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

#section2 a {
  font-family: cursive;
  color: black;
  text-decoration: none;
  padding: 10px;
}

/*SECTION / SOBRE NOSOTROS / ASIDE*/
.sobre__nosotros {
  color: white;
  font-family: cursive;
  text-align: center;
  margin: 20px;
}

aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  margin: 35px 0;
}

aside h3 {
  color: #aeffae;
}

aside .maps {
  width: 100%;
  height: 100%;
}

aside .contacto, aside div {
  width: 100%;
  background-color: #202020;
}

@media (max-width: 780px) {
  aside {
    display: inline-block;
  }
  aside .maps {
    width: 100%;
    height: 60vh;
  }
  aside .contacto, aside div {
    width: 100%;
    height: 100%;
    background-color: #202020;
  }
}

/*FOOTER / REDES SOCIALES*/
footer span {
  color: white;
  font-family: cursive;
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__redes {
  width: 100%;
  height: 15%;
  margin: 30px 0 0 0;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__redes ul {
  list-style: none;
}

.footer__redes li {
  display: inline-block;
}

.footer__redes .icon-rd {
  padding: 0 15px;
  font-size: 2rem;
}

/*CHAT FLOTANTE / POSICION FIJA*/
.chat {
  position: fixed;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 70px;
  background-color: #299941;
  color: white;
  bottom: 0;
  right: 20px;
  border-radius: 100%;
}

.chat i {
  font-size: 2rem;
}

@media (max-width: 780px) {
  .chat {
    display: none;
  }
}
/*# sourceMappingURL=estilos.css.map */